
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container{
box-shadow: 1px 1px 10px black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}